.footer {
  text-align: center;
}

.footer--links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer--links li {
  padding: 0 1rem;
}