.menu {
  margin: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.menu>li {
  flex: 0 0 auto;
}

.menu > li > a {
  display: flex;
  flex-flow: row;
  display: block;
  padding: .7rem;
  padding-left: 0;
  font-family: $heading;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus,
  &:active {
    color: darken($primary, 10);
  }
}

.menu.align-right > li > a {
    padding: .5rem 1rem;
    font-weight: normal;
    font-family: $links;
}

.link--active {
  text-decoration: underline !important;
}

@media (max-width: $sm) {
  .menu {
    justify-content: center;
    margin-top: 0;
  }

  .menu > li > a {
    text-align: center;
    padding: 0 .7rem;
  }

  .menu.align-right > li > a {
      text-align: center;
      padding: 0 .7rem ;
    }
}