.nav {
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav--work {
  margin-bottom: 2rem;
}

.nav--title {
  align-text: center;
  padding: .7rem;
  // font-family: $heading;
  // font-weight: bold;
  font-size: 1.5rem;
  // font-style: normal;
}