.work--title {
  align-text: center;
  padding: .7rem;
  margin-bottom: $leading;
  text-decoration: none;

  .work--h2 {
    font-size: 21px;
    transition: $trans;
    color: $accent !important;
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }


}

@media (max-width: $sm) {
  .work--h2 {
    font-size: 22px !important;
  }
}

.work--link {
  text-decoration: none;
}