<div class="container">
  <div class="row">
    <div class="col footer">
      <h2>Let&rsquo;s work together</h2>
      <h2><a href="mailto:m.blode@gmail.com"><b>m.blode@gmail.com</b></a></h2>
    </div>
    <div class="col">
      <ul class="footer--links">
        <li><a href="https://github.com/mblode" target="_blank">Github</a></li>
        <li><a href="http://codepen.io/mblode" target="_blank">Codepen</a></li>
        <li><a href="https://www.linkedin.com/in/matthew-blode-71700894" target="_blank">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</div>