<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ site.title | escape }} &middot; {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="Hi, my name is Matthew Blode and I make things for the internet.
I'm a designer and front-end developer from Melbourne, Australia. I'm currently working at Expense Check.">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png?v=1" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "/favicon-32x32.png?v=1" | prepend: site.baseurl }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "/favicon-16x16.png?v=1" | prepend: site.baseurl }}" sizes="16x16">
  <link rel="manifest" href="{{ "/manifest.json?v=1" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg?v=1" | prepend: site.baseurl }}" color="#4580dd">
  <link rel="shortcut icon" href="{{ "/favicon.ico?v=1" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54745665-1', 'auto');
  ga('send', 'pageview');

  </script>

</head>