<nav id="ta-menu" class="noselect">
  <div class="container">
    <ul class="nav--projects">
      <li><a href="#">Cool Cactus Website</a></li>
      <li><a href="#">Hayley Lauren Design</a></li>
      <li><a href="#">Self-Driving Concept Car</a></li>
      <li><a href="#">Drawings and Art</a></li>
    </ul>
    <ul class="nav--site">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>

<div id="ta-cube">
  <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px">
    <path data-size="large" data-direction="forwards" fill="none" stroke="#262626" stroke-width="2" stroke-linecap="square" d="M1,1 l58,0 l0,58 l-58,0 l0,-58" stroke-dasharray="232 232" stroke-dashoffset="0"></path>
    <path data-size="small" data-direction="forwards" fill="none" stroke="#262626" stroke-width="2" stroke-linecap="square" d="M1,1 l48,0 l0,48 l-48,0 l0,-48" stroke-dasharray="191 191" stroke-dashoffset="0"></path>
    <path data-size="large" data-direction="reversed" fill="none" stroke="#262626" stroke-width="2" stroke-linecap="square" d="M59,59 l-58,0 l0,-58 l58,0 l0,58" stroke-dasharray="232 232" stroke-dashoffset="0"></path>
    <path data-size="small" data-direction="reversed" fill="none" stroke="#262626" stroke-width="2" stroke-linecap="square" d="M49,49 l-48,0 l0,-48 l48,0 l0,48" stroke-dasharray="191 191" stroke-dashoffset="0"></path>
  </svg>
  <div id="ta-cube-contents">
    <div data-menutext="menu">
      <span>M</span>
      <span>E</span>
      <span>N</span>
      <span>U</span>
    </div>
    <div data-menutext="hide">
      <span>H</span>
      <span>I</span>
      <span>D</span>
      <span>E</span>
    </div>
    <div data-menutext="load"></div>
  </div>
</div>