.btn {
  background: $background;
  border: 1px solid $primary;
  padding: .25rem .5rem;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  transition: $trans;

  &:hover,
  &:focus,
  &:active {
    background: $accent;
    color: $background;
    border-color: $accent;
    text-decoration: none;
    box-shadow: 7px 7px 0 $third;
  }
}