.btn {
  border: 1px solid $primary;
  padding: .25rem .5rem;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:focus,
  &:active {
    background: $primary;
    color: $accent;
  }
}