.btn {
  border: 1px solid $accent;
  padding: .25rem .5rem;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 18px;

  &:hover {
    text-decoration: underline;
  }

  &:focus,
  &:active {
    background: $accent;
    color: $background;
  }
}