.container {
  margin: 0 auto;
  max-width: 700px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.col {
  flex: 1;
}

.row-half {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  flex-wrap: wrap;
  margin-right: 10px;
}

// .row-half .col {
//   width: 49%;
// }

.col-6 {
  width: 50%;
  flex: 0 0 50%;
  display: inline-block;
}

.card {
  display: inline-block;
  width: calc(50% - 5px);
  flex: auto;
}

.align-right {
  justify-content: flex-end;
}

@media (min-width: $sm) {
  .card {
    width: calc(33.3333% - 5px);
  }
}

@media (max-width: $sm) {
  .col-6 {
    width: 100%;
    flex: 0 0 100%;
  }
}