.container {
  margin: 0 auto;
  max-width: $lg;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  flex-wrap: wrap;
  margin-right: 20px;
}

.col {
  flex: 0 0 100%;
  width: 100%;
  display: block;
}

.col-narrow {
  max-width: 650px;
  margin: 0 auto;
  display: block;
  margin-top: $leading;
  margin-bottom: 2.2 * $leading;
}

.col-6 {
  width: 49%;
  flex: 0 0 49%;
  display: inline-block;
}

.col-image {
  width: 63%;
  flex: 0 0 63%;
  display: inline-block;
  margin-bottom: 2 * $leading;
}

.col-description {
  width: 34%;
  flex: 0 0 34%;
  display: inline-block;
  margin-bottom: 2 * $leading;
}

.align-right {
  justify-content: flex-end;
}

@media (max-width: $md) {
  .col-narrow {
    max-width: 100%;
  }

  .col-image,
  .col-description {
    width: 100%;
    flex: 0 0 100%;
    display: block;
  }

  .col-image {
    margin: 0;
  }
}

@media (max-width: $sm) {
  .col,
  .col-narrow,
  .col-6 {
    width: 100%;
    flex: 0 0 100%;
    display: block;
  }

  .col-narrow {
    margin-top: $leading / 2;
    margin-bottom: 2 * $leading;
  }
}