$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 544px;

$baseFontSize: 18;
$baseLineHeight: 1.5;
$leading: $baseLineHeight * 1rem;
$line-height: $baseLineHeight * 1rem;
$scale: 1;

$body: "inconsolata", monospaced;
$heading: "neuzeit-grotesk", sans-serif;

$white: #efefef;
$black: rgba(0, 0, 0, .87);
$red: #FF8181;
$purple: #3A3C83;