$lg: 992;
$md: 820px;
$sm: 750px;
$xs: 544px;

$baseFontSize: 18;
$baseLineHeight: 1.5;
$leading: $baseLineHeight * 1rem;
$line-height: $baseLineHeight * 1rem;
$scale: 1;

$trans: .4s ease-in-out;

$body: "Apercu Pro", sans-serif;
$heading: "Apercu Pro", sans-serif;
$links: "Apercu Mono", monospace;

$white: #efefef;
$black: rgba(0,0,0,.8);
$secondary: rgba(0,0,0,.5);
$primary: #3878FF;
$accent: #EF4621;
$third: #F9B5A6;
$background: #fff;
