$lg: 992;
$md: 850px;
$sm: 768px;
$xs: 544px;

$baseFontSize: 18;
$baseLineHeight: 1.5;
$leading: $baseLineHeight * 1rem;
$line-height: $baseLineHeight * 1rem;
$scale: 1;

$body: "neuzeit-grotesk", sans-serif;
$heading: "neuzeit-grotesk", sans-serif;
$links: "inconsolata", monospace;

$white: #efefef;
$black: rgba(0,0,0,.8);
$secondary: rgba(0,0,0,.5);
// $primary: #1F7DD3;
// $primary: #42449D;
$primary: #3778FF;
// $accent: #efefef;
$accent: #F5F4EF;