a img {
  max-width: 100%;
  border: 2px solid $primary;
  transition: border-color $trans, box-shadow $trans;
  margin-bottom: 1rem;

  &:hover {
    border-color: $accent;
    box-shadow: -7px 7px 0 $third;
  }
}

html {
  background: $background;
  color: $black;
}

hr {
  border: 1px solid $primary;
}

.work--link {
  h3, h4, hr {
    transition: color $trans;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    h3, h4 {
      color: $accent;
    }

    hr {
      border-color: $accent;
    }
  }
}