img {
  max-width: 100%;
  border: 0px solid $primary;
  box-shadow: 0 0 $accent;
  transition: $trans;

  &:hover {
    border: 10px solid $primary;
    box-shadow: -10px 10px $accent;
  }
}

html {
  background: $background;
  color: $black;
}

hr {
  border: 1px solid $primary;
}

.work--link {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    h3, h4 {
      text-decoration: none;
      color: $accent !important;
    }

    hr {
      border-color: $accent;
    }
  }
}