img {
  max-width: 100%;
}

html {
  border: 10px solid $primary;
  background: $accent;
  color: $black;
}

@media (min-width: $sm) {
  html {
    border: 20px solid $primary;
  }
}

hr {
  border: 2px solid $primary;
}