html {
  font-family: $body;
  font-size: $baseFontSize;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: $line-height;
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol {
  margin-top: $leading;
  margin-bottom: $leading;
  padding-left: 0;
  vertical-align: baseline;
  li {
    line-height: $line-height;
  }
}

blockquote {
  line-height: $line-height;
  margin-top: $leading;
  margin-bottom: $leading;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading;
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.1;
  color: $accent;
}

h1 {
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: -1px;
}

h2 {
  font-size: 1.7rem;
  font-weight: normal;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: normal;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

table {
  margin-top: $leading;
  border-spacing: 0px;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  line-height: $baseLineHeight * $baseFontSize - 0px;
}

code,
kbd,
pre,
samp {
  font-family: $links;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
  overflow: auto;
}

code {
  padding: .2rem .4rem;
  font-size: 90%;
  background-color: #f7f7f9;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  line-height: $line-height;
  display: list-item;
  text-align: -webkit-match-parent;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  line-height: $line-height;
  margin-top: $leading;
  margin-bottom: $leading;
}

a {
  color: $primary;
  text-decoration: none;
  transition: color $trans;
  &:hover,
  &:focus {
    color: $accent;
    text-decoration: underline;
  }
}

a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  color: $primary;
  font-family: $body;
  font-style: normal;
}

.caption,
.btn {
  font-family: $links;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

.caption {
  color: $accent;
}

::selection {
  background: $third;
}

@media (min-width: $sm) {
  html {
    font-size: 21px;
  }
}