html {
  font-family: $links;
  font-size: $baseFontSize / 16 * 100%;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: $line-height;
  margin-top: $leading / 2;
  margin-bottom: 0;
}

ul, ol {
  margin-top: $leading;
  margin-bottom: $leading;
  padding-left: 0;
  vertical-align: baseline;
  li {
    line-height: $line-height;
  }
}

blockquote {
  line-height: $line-height;
  margin-top: $leading;
  margin-bottom: $leading;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.2;
  color: $primary;
}

h1 {
  font-size: 2.2 * 1rem;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.3rem;
  font-weight: normal;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 1rem;
}

table {
  margin-top: $leading;
  border-spacing: 0px;
  border-collapse: collapse;
}
  td, th {
    padding: 0;
    line-height: $baseLineHeight * $baseFontSize - 0px;
}

code {
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  word-break: break-all;
  word-wrap: break-word;
}

.lead {
  font-size: $scale * 1rem;
}

.hug {
  margin-top: 0;
}

a {
  color: $primary;
  // text-decoration: none;
  font-family: $links;
  line-height: $line-height;
  margin-top: $leading / 2;
  margin-bottom: $leading / 2;
  &:hover,
  &:focus {
    color: darken($primary, 15);
    text-decoration: underline;
  }
}

.caption {
  text-transform: uppercase;
  font-family: $links;
  font-size: 18px;
}

@media (min-width: 500px) {
  html {
    font-size: 21px;
  }

  h2 {
    font-size: 2rem;
  }

}