<!DOCTYPE html>
<html lang="en-AU">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matthew Blode - Homepage</title>
  <meta name="author" content="Matthew Blode">
  <meta name="description" content="Hi, my name is Matthew Blode and I make things for the internet.
  I'm a designer and front-end developer from Melbourne, Australia.">
  <meta name="keywords" content="Matthew,Blode,mblode,Designer,Developer,front-end,web,ui">
  <meta name="application-name" content="Matthew Blode">
  <meta property="og:image" content="{{root}}/uploads/matthewblode.jpg">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png?v=2" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "/favicon-32x32.png?v=2" | prepend: site.baseurl }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "/favicon-16x16.png?v=2" | prepend: site.baseurl }}" sizes="16x16">
  <link rel="manifest" href="{{ "/manifest.json?v=2" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg?v=2" | prepend: site.baseurl }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ "/favicon.ico?v=2" | prepend: site.baseurl }}">

  <script>
    window.location.replace("http://matthewblode.com");
  </script>

</head>
<body>
</body>
</html>
